@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

html {
    width: 100%;
    height: 99.9%;
    overflow: hidden;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
h1 {
    font-size: 18px;
    color: white;
    margin: 0 0 1em 0;
    padding: 0.4em;
    background-color: #81bcff;
}
main {
    display: grid;
    grid-template-rows: min-content 1fr;
    width: 100%;
    height: calc(100% - 1em);
    overflow-x: hidden;
    overflow-y: auto;
}
#center-content {
    display: grid;
    grid-template-rows: 1fr min-content min-content;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    overflow-y: auto;
}

#chat-view {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: visible;
    /* background-color: #ff4f4f; */
}
#chat-view::-webkit-scrollbar {
    width: 10px;
    background: transparent;

}
#chat-view::-webkit-scrollbar-thumb {
    background: #5050504d;
}

.chat-bubble,
.chat-bubble-self,
.chat-bubble-info {
    font-size: 14px;
    margin: 0.25em 0;
    padding: 0.4em;
    max-width: 350px;
    width: fit-content;
    background-color: #a8d8ff;
    word-wrap: break-word;
    border-radius: 4px;
}
.chat-bubble {
    margin-left: 0.5em;
}
.chat-bubble-self {
    margin-left: auto;
    margin-right: 0.5em;
    background-color: #e7e7e7;
}
.chat-bubble-info {
    text-align: center;
    color: #3a3a3a;
    margin: 0.25em auto;
    padding: 0.2em 0;
    width: 100%;
    background-color: #dde9ff;
}

#chat-input {
    display: block;
    box-sizing: border-box;
    resize: none;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 0.5em;
    width: 100%;
    border-style: solid;
    border-width: 3px;
    border-color: #c5e0ff;
    font-size: 16px;
}
#chat-input:focus {
    outline: none;
    border-color: #81bcff;
}

#info {
    color: white;
    padding: 0.4em;
    background-color: #81bcff;
}